services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7861:7860"
    env_file:
      - .env
    depends_on:
      - mlflow
  
  mlflow:
    image: mlflow
    ports:
      - "5001:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    command: mlflow ui --port 5000 --allowed-hosts='*' --host 0.0.0.0